<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body style="background-color: rgb(36, 43, 33);">
    <nav style="display:flex;justify-content:space-around">
        <a style="color:wheat;text-decoration:none" href="/">Home</a>
        <a style="color:wheat;text-decoration:none" href="service">Our Services</a>
        <a style="color:wheat;text-decoration:none" href="contact">Contact Us</a>
    </nav>
    <hr/>
    <h1 style="color:wheat;">Welcome</h1>
</body>
</html>